{
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "importOrder": ["^[^@/./src]", "^@nestjs/(.*)$", "^@/", "^[./]", "^src/"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "endOfLine": "auto"
}
